@using Microsoft.EntityFrameworkCore.Internal
@using CashFlow.Areas.Users.Model
@model CashFlow.Areas.Users.ViewModels.IndexViewModel

@{
    string selectedSort = "Сортировка ";
    switch (Model.Sort)
    {
        case SortType.Email:
            selectedSort += "по email";
            break;
        case SortType.EmailDesc:
            selectedSort += "по email по убыванию";
            break;
        case SortType.Name:
            selectedSort += "по имени";
            break;
        case SortType.NameDesc:
            selectedSort += "по имени по убыванию";
            break;
    }

    string filter = !String.IsNullOrWhiteSpace(Model.Filter) ? Model.Filter : String.Empty;
}

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @selectedSort
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-action="Index" asp-route-page="1" asp-route-sort="email" asp-route-filter="@filter">Email</a>
                                <a class="dropdown-item" asp-action="Index" asp-route-page="1" asp-route-sort="emaildesc" asp-route-filter="@filter">Email по убыванию</a>
                                <a class="dropdown-item" asp-action="Index" asp-route-page="1" asp-route-sort="name" asp-route-filter="@filter">Имя</a>
                                <a class="dropdown-item" asp-action="Index" asp-route-page="1" asp-route-sort="namedesc" asp-route-filter="@filter">Имя по убыванию</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline" method="get" asp-action="Index">
                                <input name="sort" value=@Model.Sort hidden>
                                <input name="filter"
                                       class="form-control mr-sm-2"
                                       value="@filter"
                                       type="search"
                                       placeholder="Поиск"
                                       aria-label="Поиск">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                            </form>
                        </li>

                    </ul>
                   
                </div>
            </nav>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Email</th>
                        <th scope="col">Имя</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var user in Model.Users)
                    {
                        int index = Model.Users.IndexOf(user) + 1 + (Model.PageViewModel.PageNumber - 1) * 20;
                        <tr>
                            <td>@index</td>
                            <td>@user.Email</td>
                            <td>@user.Name</td>
                            <td>
                                <a class="btn btn-sm btn-info" asp-area="Users" asp-action="EditRole" asp-route-id="@user.Id">Права доступа</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            @if (Model.PageViewModel.HasPreviousPage)
            {
                <a asp-area="Users" asp-controller="Users" asp-action="Index" 
                   asp-route-page="@(Model.PageViewModel.PageNumber - 1)" 
                   asp-route-sort="@Model.Sort"
                   asp-route-filter="@filter"
                   class="btn btn-sm btn-primary">
                    Назад
                </a>
            }
            <span>( @Model.PageViewModel.PageNumber / @Model.PageViewModel.TotalPages)</span>
            @if (Model.PageViewModel.HasNextPage)
            {
                <a asp-action="Index" asp-area="Users" asp-controller="Users" 
                   asp-route-page="@(Model.PageViewModel.PageNumber + 1)" 
                   asp-route-sort="@Model.Sort"
                   asp-route-filter="@filter"
                   class="btn btn-sm btn-primary">
                    Вперед
                </a>
            }

        </div>
    </div>
</div>